<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560963689-b5682b6440f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1886&q=80);">
  <div class="container">
    <h1>Cocktails at<strong> home </strong> for <strong>lockdown</strong>!</h1>
    <p>Find some cocktails to get wasted during theses hard times.</p>
    <a class="btn btn-light" href="/cocktails/new">Add a cocktail</a>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card mb-3">
          <div class="card-image">
            <img src="https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" class="w-100">
          </div>
          <div class="card-info mb-3 p-3">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
