<div class="form-container d-flex">
  <div class="form-infos">
    <h3>Add your cocktail</h3>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name, :required => false %>
      <%= f.input :photo, as: :file, input_html: { class: 'mb-3' } %>
      <hr>
      <%= f.submit "Add cocktail", class: 'btn btn-light mt-3' %>
    <% end %>
  </div>
  <div class="form-image">
  </div>
  <i class="fas fa-home-alt" id="home-icon"></i>
</div>