.form-container {
  width: 600px;
  margin: 100px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-infos {
  padding: 50px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 20px 0;
}

.form-image {
  width: 50%;
  background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url('add-cocktail.png');
  background-size: cover;
  background-position: center;
}

#home-icon {
  position: absolute;
  top: 0;
  right: 0;
  color:  black;
  font-size: 30px;
}

.simple_form {
  padding: 0;
}

// #file-upload-button {
//   color: rgba(0, 0, 0, 0.397);
//   opacity: .7 ;
//   color:  #d0868c ;
//   border: 1px solid #d0868c ;
//   border-radius: 2px ;

//   &:hover {
//     opacity: 1 ;
//   }
// }


