.banner {
  background-image: linear-gradient(rgba(208, 134, 140, 0.2),rgba(208, 134, 140, 0.2)), url('banner');
  background-size: 100vh;
  background-position: center;
  height: 70vh;
}

.banner h1 {
  color: black;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-size: 52px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  color: black;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.banner-container {
  width: 600px;
  margin: 100px auto;
}
